@{
    ViewBag.Title = "LoginFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login fehlgeschlagen bzw. Sie sind nicht angemeldet</h2>

<p>@Html.ActionLink("Erneutes Login", "Login")</p>
