
@{
    ViewBag.Title = "NetworkError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<p>Fehler: Bitte überprüfen Sie ihre Internetverbindung oder kontaktieren Sie den nicht vorhandenen Kundendienst.</p>

